.radio{
    position: relative;
}
.radio::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.radio--diplay{
   
}
.radio__container{
    border: 2px solid green;
}

.feeling__selected{
    font-size: 1.5rem;
}