.header__display{
  border-bottom: 2px blue solid;
}

article {
  & > h2 {
    font-size: $titleSizeh1;
  }
}

.tree{
  padding: 0 15% 0 15%;
}

/* ANIMATION LEAVES */

path[class*='Vector'] {
    opacity: 0;
}
  
path[class*='appear'] {
  transform-origin: center;
  transform-box: fill-box;
  animation: feuille 4s forwards;
}
  
@keyframes feuille {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}


/* ANIMATION TREE APPEARED */

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}