.header__display{
  border-bottom: 2px rgb(1, 138, 138) solid;
}

article {
  border: 3px solid rgb(1, 138, 138);
  border-radius: 5px 5px;
  box-shadow: 3px 3px 5px gray;
  & > h2 {
    font-size: $titleSizeh1;
  }
}

.welcome--message{
  color: rgb(1, 138, 138);
}

.tree{
  
  & > svg {
    object-fit: cover;
    width: 100%;
  }
}



